
<div class="member-system">
  
  <div class="container">
    <div class="member-card">
      <h1 class="title">會員登入</h1>
      <%= form_with url: sign_in_path do |form| %>
        
        <div class="user-email">
          <%= form.label :email, '信箱' %>
          <%= form.text_field :email, placeholder: 'user@gmail.com' %>
        </div>
        
        <div class="user-password">
          <%= form.label :password, '密碼' %>
          <%= form.password_field :password %>
        </div>
  
        <div class="user-password-confirmation">
          <%= form.label :password_confirmation, '確認密碼' %>
          <%= form.password_field :password_confirmation %>
        </div>
    
        <%= form.submit '登入' %>
        <%= link_to '註冊', sign_up_path %>
      <% end %>
    </div>
  </div>
</div>