
<% @tasks.each do |task| %>
<div class="col-3">
  <div class="task" data-title="<%= task.title %>" data-title="<%= task.title %>">
    <%= link_to task_path(task) do %>
      <h3 class="title"><%= task.title %></h3>
      <div class="status-wrap">
        <h4>狀態：</h4>
        <span><%= task.status %></span>
      </div>
      
      <div class="order-wrap">
        <h4>優先順序：</h4>
        <span><%= levelToWord(task.level) if task.level %></span>
      </div>
      
      <div class="content-wrap">
        <h4>任務內容：</h4>
        <div class="content"><%= task.content %></div>
      </div>
      
      <% if task.end_time %>
      <div class="end-time-wrap">
        <h4>結束時間：</h4>
        <span><%= task.end_time.strftime("%Y/%m/%d") %></span>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>


