
<% @tasks.each do |task| %>
<div class="col-3">
  <div class="task" data-title="<%= task.title %>" data-title="<%= task.title %>">
    <%= link_to task_path(task) do %>
      <h3 class="title"><%= task.title %></h3>
      <h4>
        <span>狀態：</span>
        <span><%= task.status %></span>
      </h4>
      <h4>
        <span>優先順序：</span>
        <span><%= levelToWord(task.level) if task.level %></span>
      </h4>
      <ul>
        <li>任務內容：<%= task.content %></li>
        <% if task.end_time %>
        <li>結束時間：<%= task.end_time.strftime("%Y/%m/%d") %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<% end %>
