<h1>任務列表</h1>
<%= @task_title %>

<%= link_to '新增任務', new_task_path %>
<ul>
  <li><%= link_to '按結束時間排序', tasks_path(sort: 'end_time'), id: 'end_time_btn' %></li>
  <li><%= link_to '按新增時間排序', tasks_path(sort: 'create_time'), id: 'create_time_btn' %></li>
</ul>

<%= form_with(url: search_searches_path, method: :get, class: 'search-form') do |f| %>
  <%= f.text_field :keyword, class: 'search-input', placeholder: '搜尋任務名稱' %>
  <%= f.submit "Search", class: 'submit-btn', style: "display:none" %>
<% end %>

<div class="tasks-table">
  <%= render '/tasks/task', tasks: @tasks if @tasks %>
</div>

