<header>
  <h1>任務列表</h1>

  <nav class="user">
    <ul>
      <% if Current.user %>
        <li><%= Current.user.email %></li>
        <li><%= link_to '登出', logout_path, method: :delete %></li>
        <li><%= link_to '更改密碼', edit_password_path %></li>
      <% else %>
        <li><%= link_to '註冊', sign_up_path %></li>
        <li><%= link_to '登入', sign_in_path %></li>
      <% end %>
    </ul>

  </nav>
</header>

<div class="container">
  
  <%= @task_title %>
  
  <div class="task-wrapper">
    <div class="table-action">
      <%= link_to '新增任務', new_task_path %>
  
      <h3>按時間排序</h3>
      <ul>
        <li><a class="sort-btn end_time" href="#" data-action="end_time">按結束時間排序</a></li>
        <li><a class="sort-btn" href="#" data-action="create_time">按新增時間排序</a></li>
      </ul>
    
      <h3>按優先順序排序</h3>
      <ul>
        <li><a class="sort-btn" href="#" data-action="level_desc">從高到低</a></li>
        <li><a class="sort-btn" href="#" data-action="level_asc">從低到高</a></li>
      </ul>
      
      <h3>搜尋任務</h3>
      <%= form_with(url: filter_tasks_path, method: :get, class: 'search-form') do |f| %>
        <%= f.text_field :title, class: 'search-title', placeholder: '搜尋任務名稱' %>
        
        <%= f.radio_button :status, '全部' %> 
        <%= label :status, '全部' %>
        <%= f.radio_button :status, '待處理' %> 
        <%= label :status, '待處理' %>
        <%= f.radio_button :status, '處理中' %> 
        <%= label :status, '處理中' %>
        <%= f.radio_button :status, '完成' %>
        <%= label :status, '完成' %>
    
        <%= f.submit "Search", class: 'submit-btn', style: "display:none" %>
      <% end %>
    </div>

    <div class="tasks-table">
      <div class="container">
        <div class="row">
          <%= render '/tasks/task', tasks: @tasks if @tasks %>
        </div>
      </div>
    </div>
  </div>
  
</div>





