<div class="task-card-wrapper">
  <div class="task-card">
    <div class="task-info">
      <h2 class="title"><%= @task.title %></h2>

      <div class="level">
        <span>優先順序：</span>
        <span><%= levelToWord(@task.level) %></span>
      </div>

      <div class="date">
        <span>結束時間：</span>
        <span><%= @task.end_time.strftime("%Y/%m/%d") if @task.end_time %></span>
      </div>
  
      <div class="status">
        <span>狀態：</span>
        <span><%= @task.status %></span>
      </div>
  
      <div class="content">
        <span>任務內容：</span>
        <p><%= @task.content %></p>
      </div>

      
  
    </div>
  
    <div class="link">
      
      <%= link_to edit_task_path(@task), class: 'shadow-btn' do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= link_to task_path(@task), method: 'DELETE', data: { confirm: '確定要刪除任務？' }, class: 'shadow-btn' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    
  
    <%= link_to :root, class: 'back' do %>
      <i class="fas fa-arrow-left"></i>回列表
    <% end %>
  </div>
</div>
