<header>
  <div class="logo">
    <h1>管理員系統</h1>
  </div>
  
  <div class="nav-bar">
    <nav class="user">
      <ul>
        <% if Current.user %>
          <li class="user-email"><%= Current.user.email %></li>
          <li><%= link_to '登出', logout_path, method: :delete %></li>
          <li><%= link_to '更改密碼', edit_password_path %></li>
        <% else %>
          <li><%= link_to '註冊', sign_up_path %></li>
          <li><%= link_to '登入', sign_in_path %></li>
        <% end %>
      </ul>
  
    </nav>
  </div>
</header>

<% flash.each do |type, msg| %>
  <div class="flash-error"><%= msg %></div>
<% end %>