<h1>會員列表</h1>

<nav class="action">
  <ul>
    <li><%= link_to '新增使用者', new_admin_user_path %></li>
  </ul>
</nav>

<table class="user-table">
  <thead>
    <tr>
      <th>會員帳號</th>
      <th>任務數量</th>
      <th>任務列表</th>
      <th>編輯會員</th>
      <th>刪除會員</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.tasks.count %></td>
        <td><%= link_to '任務列表', admin_user_path(user.id) %></td>
        <td><%= link_to '編輯', edit_admin_user_path(user.id) %></td>
        <td><%= link_to '刪除', admin_user_path(user.id), method: 'delete', data: {confirm: '確定要刪除該使用者'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

